/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart-scale {
  0% { transform: scale(1); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}

@keyframes sparks {
  0% { 
    opacity: 0; 
    transform: scale(0); 
  }
  50% { 
    opacity: 1; 
    transform: scale(1); 
  }
  100% { 
    opacity: 0; 
    transform: scale(1.5) translate(5px, -5px); 
  }
}

.like-icon .core,
.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
  transform-origin: 20px 20px;
}

.is-liked .core,
.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.is-liked {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.card__icon-button.is-liked {
  animation: heart-scale 0.3s ease-in-out 0.1s;
}